In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\jessica\anaconda3\lib\site-packages (0.3.9)
Requirement already satisfied: ipython>=1.0 in c:\users\jessica\anaconda3\lib\site-packages (from ipython-sql) (6.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\jessica\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in c:\users\jessica\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\jessica\anaconda3\lib\site-packages (from ipython-sql) (1.11.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\jessica\anaconda3\lib\site-packages (from ipython-sql) (1.2.7)
Requirement already satisfied: sqlparse in c:\users\jessica\anaconda3\lib\site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\jessica\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: pickleshare in c:\users\jessica\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.4)
Requirement already satisfied: setuptools>=18.5 in c:\users\jessica\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (39.1.0)
Requirement already satisfied: decorator in c:\users\jessica\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.0)
Requirement already satisfied: jedi>=0.10 in c:\users\jessica\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.12.0)
Requirement already satisfied: pygments in c:\users\jessica\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.2.0)
Requirement already satisfied: simplegeneric>0.8 in c:\users\jessica\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\jessica\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.3.9)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.15 in c:\users\jessica\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (1.0.15)
Requirement already satisfied: backcall in c:\users\jessica\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: parso>=0.2.0 in c:\users\jessica\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\jessica\anaconda3\lib\site-packages (from prompt-toolkit<2.0.0,>=1.0.15->ipython>=1.0->ipython-sql) (0.1.7)

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

'Connected: @None'

In [15]:
import sqlite3

In [13]:
api_key = 'F6P63GSI1XR978HV'
from alpha_vantage.timeseries import TimeSeries

ts = TimeSeries(key=api_key, output_format='pandas')
data, meta_data = ts.get_daily(symbol='MSFT')

In [12]:
data_array[1]

array([1.3696000e+02, 1.3752000e+02, 1.3642500e+02, 1.3739000e+02,
       1.7976285e+07])

In [11]:
%%sql   
CREATE TABLE MIRCOSOFT(opening_price float, high float,low float, closeing_price float, volume int)
INSERT INTO MICROSOFT VALUES()

 * sqlite://
(sqlite3.OperationalError) near "INSERT": syntax error [SQL: 'CREATE TABLE MIRCOSOFT(opening_price float, high float,low float, closeing_price float, volume int)\nINSERT INTO MICROSOFT VALUES(data_array[1])'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [8]:
%sql SELECT * from EMPLOYEE;

 * sqlite://
Done.

[('Tom', 'Mitchell'), ('Jack', 'Ryan')]

In [23]:
#https://stackoverflow.com/questions/51975479/parsing-json-into-insert-statements-with-python
# Open the file containing the SQL database.
with sqlite3.connect("TestORT.db") as conn:

    # Create the table if it doesn't exist.
    conn.execute(
        """CREATE TABLE IF NOT EXISTS microsoft(
                open float,
                high float,
                low float,
                close float,
                volume int
            );"""
        )

    # Insert each entry from json into the table.
    keys = ["open", "high", "low", "close", "volume"]
    for entry in data:

        # This will make sure that each key will default to None
        # if the key doesn't exist in the json entry.
        values = [entry.get(key, None) for key in keys]

        # Execute the command and replace '?' with the each value
        # in 'values'. DO NOT build a string and replace manually.
        # the sqlite3 library will handle non safe strings by doing this.
        cmd = """INSERT INTO microsoft VALUES(
                    ?,
                    ?,
                    ?,
                    ?,
                    ?
                );"""
        conn.execute(cmd, values)

    conn.commit()

In [20]:
import json
import sqlite3

# The string representing the json.
# You will probably want to read this string in from
# a file rather than hardcoding it.
s = """[
    {
        "id": 1001, 
        "name": "John", 
        "age" : 30 
    }, 
    {
        "id" : 1002,
        "name" : "Peter",
        "age" : 25
    },
    {
        "id" : 1002,
        "name" : "Kevin",
        "age" : 35,
        "salary" : 5000
    }
]"""

# Read the string representing json
# Into a python list of dicts.
data = json.loads(s)


# Open the file containing the SQL database.
with sqlite3.connect("filename.db") as conn:

    # Create the table if it doesn't exist.
    conn.execute(
        """CREATE TABLE IF NOT EXISTS tab(
                id int,
                name varchar(100),
                age int,
                salary int
            );"""
        )

    # Insert each entry from json into the table.
    keys = ["id", "name", "age", "salary"]
    for entry in data:

        # This will make sure that each key will default to None
        # if the key doesn't exist in the json entry.
        values = [entry.get(key, None) for key in keys]

        # Execute the command and replace '?' with the each value
        # in 'values'. DO NOT build a string and replace manually.
        # the sqlite3 library will handle non safe strings by doing this.
        cmd = """INSERT INTO tab VALUES(
                    ?,
                    ?,
                    ?,
                    ?
                );"""
        conn.execute(cmd, values)

    conn.commit()

In [28]:
# Testing the table.
with sqlite3.connect("TestORT.db") as conn:
    cmd = """SELECT * FROM microsoft;"""
    cur = conn.execute(cmd)
    res = cur.fetchall()
    for r in res:
        print(r)